<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.techuva.iot">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/iot_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iot_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="allowBackup,supportsRtl">
        <activity android:name=".activity.Dashboard_Water_Motor"></activity>
        <activity android:name=".DeviceOnbardingActivity" />
        <activity android:name=".activity.UserRegisterActivity" />
        <activity
            android:name=".activity.WaterMonValueDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.Dashboard_Procom" />
        <activity android:name=".activity.Dashboard_Energy" />
        <activity
            android:name=".activity.HBLNotificationActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.Notification" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ManageThresholdActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ConsumedUnitDetailsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TokenExpireActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ForewarninActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DataGraphActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.HistoryDataAgriTableActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.GraphActivity" />

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.Dashboard" />
        <activity android:name=".activity.Dashboard_Water_Flow" />
        <activity android:name=".activity.Dashboard_Two" />
        <activity android:name=".activity.Dashboard_Agri" />
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.History_View_Activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.HistoryDataTableActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.UserAccountsActivity"
            android:label="@string/title_activity_user_accounts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.UserDevicesListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.DataGraphForWaterLevelActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.Dashboard_HBL" />

        <service
            android:name=".utils.views.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".listener.NotificationReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>